<mat-progress-bar mode="determinate" *ngIf="autoSaveTimer" [value]="autoSaveTimer"></mat-progress-bar>

<section>

<header>

  <button  mat-button color="primary" (click)="logIn()" *ngIf="!user">Log-In</button>
  <ng-container *ngIf="user">
    HI {{user.name}}! <button mat-button color="accent" (click)="logOutAll()">Log-Out</button>
  </ng-container>


  <button mat-stroked-button color="accent" [matMenuTriggerFor]="userMenu">Menu</button>
  <mat-menu #userMenu="matMenu">
    <button *ngFor="let menu of userMenuItem" mat-menu-item>
      <mat-icon>{{menu.icon}}</mat-icon>
      {{ menu.title }}
    </button>
  </mat-menu>
</header>

  <h1>The Kanban Board</h1>

  <ak-add-task *ngIf="user" [serviceUser]="user"></ak-add-task>

  <main>

    <div>
      <h2>Todo</h2>
      <div
        cdkDropList
        #todoList="cdkDropList"
        [cdkDropListData]="kanbanBoard.todos"
        [cdkDropListConnectedTo]="[inProgressList]"
        class="example-list"
        (cdkDropListDropped)="drop($event)">
        <div class="example-box" *ngFor="let item of kanbanBoard.todos" cdkDrag>
          {{item}}
          <button (click)="removeItem('todos', item)">X</button>
        </div>
      </div>
    </div>


    <div>
      <h2>In process</h2>
      <div
        cdkDropList
        #inProgressList="cdkDropList"
        [cdkDropListData]="kanbanBoard.inProgress"
        [cdkDropListConnectedTo]="[todoList, revisionList]"
        class="example-list"
        (cdkDropListDropped)="drop($event)">
        <div class="example-box" *ngFor="let item of kanbanBoard.inProgress" cdkDrag>
          {{item}}
          <button (click)="removeItem('inProgress', item)">X</button>
        </div>
      </div>
    </div>

    <div>
      <h2>Review</h2>
      <div
        cdkDropList
        #revisionList="cdkDropList"
        [cdkDropListData]="kanbanBoard.revision"
        [cdkDropListConnectedTo]="[finishList, inProgressList]"
        class="example-list"
        (cdkDropListDropped)="drop($event)">
        <div class="example-box" *ngFor="let item of kanbanBoard.revision" cdkDrag>
          {{item}}
          <button (click)="removeItem('revision', item)">X</button>
        </div>
      </div>
    </div>

    <div>
      <h2>Complete</h2>
      <div
        cdkDropList
        #finishList="cdkDropList"
        [cdkDropListData]="kanbanBoard.finish"
        [cdkDropListConnectedTo]="revisionList"
        class="example-list"
        (cdkDropListDropped)="drop($event)">
        <div class="example-box" *ngFor="let item of kanbanBoard.finish" cdkDrag>
          {{item}}
          <button (click)="removeItem('finish', item)">X</button>
        </div>
      </div>
    </div>
  </main>
</section>
